.contacts-list{
    overflow: scroll;
}

.alphabet-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 0.7em;
    list-style: none;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
}

.contacts-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.contacts{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 0.35em;
    justify-content: start;
    align-items: flex-start;
    
}

.contact{
    width: 100%;
    font-size: 1.2em;
}

.checked{
    border: 1px solid rgb(117, 117, 117);
    
}

